<%- include ("componentes/header", {titulo: "Gracias por enviar tu proyecto"}) %>

<div class="alejandro">

    <h2>Dedelink</h2>
    <h3>¡Muchas gracias por enviar tu proyecto!<h3>
            <h4>nos pondremos en contacto contigo lo más pronto posible.</h4>
            <h6>Para hacer que Dedelink funcione, registramos los datos del usuario bajo la legislación de protección de
                datos.<br>
                Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos
                digitales.</h6>
</div>


<%- include ("componentes/footer") %>