<%- include ("componentes/header", {titulo: "Encuentra Freelancers"}) %>
<main>
  <section id="su rior">
    <div id="imagen-superior" class="jumbotron jumbotron-fluid">
      <!-- <img src="images/dedelink_imagen_portada.jpg"> -->
      <div class="container text-center py-5 text-light">
        <h2 class="mb-4">
          Los mejores freelances <br />
          para trabajar en tus proyectos
        </h2>
        <form action="/busqueda">
          <div class="row no-gutters bg-white p-2 rounded">
            <div class="col mr-2">
              <input name="q" placeholder="Encontrar un freelance..." type="text" class="form-control">
            </div>
            <div class="col-2">
              <button class="btn btn-secondary w-100" type="submit">
                Buscar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="container text-center" id="equipo">
    <h3 class="titulo">¿Cómo funciona?</h3>
    <p class="after">Conoce a profesionales creativos y talentosos.</p>
    <div class="row">

      <div class="col-12 col-sm">
        <div class="content-card">
          <div class="people">
            <img width="128" src="/images/busca_2.svg" alt="avatar">
          </div>
          <div class="texto-team">
            <h4>Busca</h4>
            <p>Al freelance que necesitas.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm">
        <div class="content-card">
          <div class="people">
            <img width="128" src="/images/select_2.svg" alt="avatar">
          </div>
          <div class="texto-team">
            <h4>Selecciona</h4>
            <p>Al perfil que más te interese </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm">
        <div class="content-card">
          <div class="people">
            <img width="128" src="/images/enviar_propuesta.svg" alt="avatar">
          </div>
          <div class="texto-team">
            <h4>Acuerda una propuesta</h4>
            <p>para empezar tus proyectos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5" id="botonCta">
      <button class="btn" id="botom1">Soy Freelance</button>
      <a class="btn" href="/backends" id="botom2">Backend</a>
    </div>
  </section>
  <!-- Fin Como funciona -->
  <section class="portafolio">
    <div class="container mb-3">
      <h2 class="text-center">Es muy fácil concretar tus ideas hoy mismo</h2>
      <div class="row py-5">
        <div class="col-12 mb-3">
          <div class="card">
            <div class="card-servicios card-servicios__1">
              <a class="btn btn-primary" href="/busqueda?q=frontend">Encuentra un Frontend</a>
            </div>
            <div class="card-body">
              <h5>Renueva o crea tu web</h5>
              Nuestro trabajo
            </div>
          </div>
        </div>
        <div class="col-12 mb-3 mb-sm-0 col-sm-6">
          <div class="card">
            <div class="card-servicios card-servicios__2">
              <a class="btn btn-primary" href="/busqueda?q=sopletudo">Encuentra un diseñador</a>
            </div>
            <div class="card-body">
              <h5>Lanza tu App Móvil</h5>
              Lanza tu App
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-servicios card-servicios__3">
              <a class="btn btn-primary" href="/busqueda?q=backend">Encuentra un Backend</a>
            </div>
            <div class="card-body">
              <h5>Backends</h5>
              Backends <a href="/backend_busqueda" id="botom2">Backend</a>
            </div>
          </div>
  </section>
  <section id="zonaVip" class="container">
    <div class="row">
      <% freelancers.sort((a,b)=>Math.random()-Math.random()).slice(-8).forEach(function(freelancer){ %>

      <%- include ("componentes/card_freelancer",{freelancer,detalles}) %>

      <%}) %>
    </div>
  </section>
  <section class="container pb-5" id="equipo">
    <h3 class="text-left mb-5">Simplifica la búsqueda para tus proyectos</h3>
    <div class="row">

      <div class="col-12 col-sm mb-5">
        <div class="content-card">
          <div class="people">
            <img width="100%" src="/images/simplifica_busqueda.svg" alt="avatar">
          </div>

        </div>

      </div>
      <div class="col align-self-center texto-team">
        <p>Con Dedelink podrás realizar búsquedas para seleccionar a los mejores freelance para tu proyecto.</p>
      </div>
    </div>

  </section>
  <section>
    <!-- Un aside para el Blog (opcional) -->
  </section>
</main>
<style>
  #navtop {
    background: none;
  }

  #navtop.visible {
    background: #000;
    transition: all 0.2s ease-out;
  }
</style>
<script>
  window.addEventListener('load', () => {
    $(document).ready(function () {
      var navegacion = $('#navtop');
      function toggleNavbar() {
        if (window.pageYOffset > navegacion.height() + $('#imagen-superior').height()) {
          !navegacion.hasClass('visible') && navegacion.addClass('visible')
          //navegacion.css('background','black')
        } else {
          //navegacion.css('background','')
          navegacion.removeClass('visible')
        }

      }
      window.addEventListener('scroll', toggleNavbar);
    })
  });
</script>
<%- include ("componentes/footer") %>