<%- include ("componentes/header", {titulo: "Encuentra Freelancers", search: true}) %>
<main>
    <section>
        <div>
            <!-- <img src="images/dedelink_imagen_portada.jpg"> -->
            <div class="container text-center py-5 text-light">
            </div>
        </div>
    </section>

    <section id="zonaVip" class="container">
        <div class="row">
            <% if (freelancers.length===0){ %>
            <div class="col pb-5">
                <h3 class="display-4">
                    No hay resultados
                </h3>
            </div>
            <%} %>
            <% freelancers.slice(-8).forEach(function(freelancer){ %>

            <%- include ("componentes/card_freelancer",{freelancer}) %>

            <%}) %>
        </div>
    </section>
    <section>
        <!-- Un aside para el Blog (opcional) -->
    </section>
</main>

<%- include ("componentes/footer") %>