html{
  font-size:16px;
}
body {
  font-family: 'open sans';
  background: #4f6af8;
}

h2{
  font-size: 3rem;
}

.boton {
  display: inline-block;
  border-radius: 10px;
  background-color: #ef347600 ;
  border: 4px solid #fff;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 285px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.boton span:after {
/* Entidades CSS. Para usar entidades HTML, use &#8594;*/
content: '\00bb';  
position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.boton:hover{
transform: scale(1.1)
}
.boton:hover span {
  padding-right: 25px;
}
.boton:hover span:after {
  opacity: 1;
  right: 0;
}
html,body{
  height: 100%;
}
.intro{
  height: 10rem;
}

.intro section{
  flex: 1;
  color: white;
  padding: .5rem 2rem;
  padding-top: 16rem;
}
.intro section h1{
  position: absolute;
  top: 2rem;
}
.intro section h2{
  margin-bottom: 8rem;
}
.intro section:last-child{
  background: white;
  color: #4f6af8;
}
.intro section:last-child .boton{
  border-color: currentColor;
  color: #4f6af8;
}

/* ###INTRO */

@media (min-width: 768px){

  .intro{
    display:flex;
    height: 100%;
    position: relative;
  }
  
}

/* OTRA SECCION */